/* font family */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@500&family=Zen+Dots&display=swap');

/* common styles or utilities */
body{
    background-color: #E5E5E5;
    font-family: 'Poppins', sans-serif;

}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
    margin-top: 21px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}
        /* Menue bar */

.menue-bar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color:#562EFF ;
    width: 100%;
    height: 94px;
    
}
.idea{
    display: flex;
    align-items: center;
}
.idea-options{
    display: flex;
}
.idea .idea-title{
    color: #E5E5E5;
    margin-left: 16px;
}
.fa-lightbulb{
   font-size: 3em;
   color: #E5E5E5;
}

.options{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.options a{
    text-decoration: none;
    color: #E5E5E5;
    margin-left: 36px;
    font-size: 16px;
}
.profile{
    width: 51px;
    height: 51px;
    margin-left: 36px;
}


 /* Top player styles */
 .top-player{
    margin-bottom: 30px;
 }
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 29px;

}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.players-name{
    margin-left: 16px;
    font-size: 18px;
}

/*--------------------------
    Top Blogs Style 
---------------------------- */
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}
.blog{
    display: flex;
}
.blog .thumbnail img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
}
.blog-author{
    font-size: 16px;
    color: #9F9F9F;
    margin-top: 6px;
}
.blog-author a{
    text-decoration: none;
    color: #562EFF;
}

/* -------------------------
        Latest Courses
---------------------------- */
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
}


.courses .course-banner img{
    width: 266px;
    height: 141px;
}
.course-info{
    display: flex;
    justify-content:space-between ;
}
.fa-star.filled{
    color: #FFC014;
    height: 12px;}
.fa-star.empty{
    color: #AEAEAE;
    height: 12px;

}
.course-duration{
    background-color: #FEE5DF;
    border-radius: 12.7px;
    font-size: 13.7px;
    color: #ED6B4F;
    
}

/* ----------------------------------------------------------
             media query-Making my website responsive
 ------------------------------------------------------------*/

 /* small screen Mobile Devices */
 @media only screen and (max-width:500px) {
    .container{
        width: 100%;
    }
    .players, .blogs, .courses{
        grid-template-columns: repeat(1, 1fr);
    }
    .player{
        flex-direction: column;  
      }
    
    .blog{
        flex-direction: column;
        align-items: center;
    }
    
    .course{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;
    }
 }

 /* big screen mobile devices */

 @media only screen and (min-width:501px) and (max-width:688px) {
    .container{
        width: 100%;
    }
    .players{
        grid-template-columns: repeat(2, 1fr);
    }
    .blogs, .courses{
        grid-template-columns: repeat(1, 1fr);
    }
    .player{
        flex-direction: column;  
      }
    
    .blog{
        flex-direction: column;
        align-items: center;
    }
    
    .course{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;
    }
 }

/* Tablet devices */

@media only screen and (min-width:689px) and (max-width:890px) {
    .container{
        width: 100%;
    }
    .players, .courses{
        grid-template-columns: repeat(2, 1fr);
    }
    .player{
        justify-content: center;
    }
    
    
}

